a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.one-two {
    background-color: #1f2937;
}

.logo {
    margin-left: 40px;
    width: 100px;    
}


a, 
.footer, 
.block-one {
    color: #e5e7eb;
}

ul {
    
    list-style-type: none;
    display: flex;
    gap: 18px;
    font-size: 18px;
    margin-right: 40px;
}

.header,
.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.header {
    color: #F9FAF8;
    justify-content: space-between;
    font-size: 24px;
}

.footer {
    margin-top: auto;
    justify-content: center;
    padding: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    max-width: 400px;
}

.block-one {
    margin: 40px;
    margin-bottom: 80px;
}

.body-one {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 200px;
    max-width: 900px;
    margin: auto;
}

.text {
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 100px;
}

.register {
    margin-top: 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    width: 120px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: gray;
    width: 400px;
    height: 150px;
}

.block-two {}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.placeholder {
    width: 150px;
    height: 100px;
    display: flex;
    margin-left: 35px;
    border: solid;
    border-color: #3882F6;
    border-radius: 6px;
    border-width: 2px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    margin-left: 270px;
    margin-right: 270px;
}


.block-three {
    background-color: #E5E7EB;
    color: #57606d;
}

p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin:80px 150px 80px 150px;
}

.quote {
    display: flex;
    justify-content: flex-end;
    margin: 60px;
}

.block-four {
    margin:80px 150px 80px 150px;
    background-color: #3882F6;
    border-radius: 40px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 600px
}

.end {

}